
body {
	text-align: center;
	font-family: Arial;
	background: purple;
	color: white;
}


h1{
     font-size: 3em;
     font-weight: 800;
     font-family: Helvetica;
}

#flash {
	margin: 80px;
}

#sudoku {
	font-size: 0;
	text-align: center;
}

div.box, div.cell {
	display: inline-block;
	display: 
}



.cell input {
	width: 30px;
	height: 30px;
	text-align: center;
}

.incorrect {
	background-color: purple;
	color: white;
}

.value-provided {
	background-color: #DDD
}